<!DOCTYPE html>
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    title About | uSipho 
    
  body(style='background-color: white')
    header.navbar.container-fluid
      nav.order-md-2
        a Home
        a(href="about.html").active  About
        a  Gallery
        a  Contact

      .navbar_header
        .logo
          img(src='../images/usipho.png')
        .trigger
          img(src='../images/ic_menu_24px.png')

    main.container
      .col-12.col-md-4.profile_wrapper
        .row
          .col-12
            figure
              img(src='../images/20170805_065823@2x.png')
        .row
          .col-12.col-md-6
          .col-12.col-md-6
        .row
          .col
          .col
          .col
          .col

      .col-12.col-md-6
        header.page-header About
        .text-body


          
