<!DOCTYPE html>
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    title uSipho Front End
  body
    header.navbar.container-fluid
      nav.order-md-2
        a.active Home
        a(href="about.html")  About
        a  Gallery
        a  Contact

      .navbar_header
        .logo
          img(src='../images/usipho.png')
        .trigger
          img(src='../images/ic_menu_24px.png')

      
    
    main.container-fluid.jumbotron.justify-content-center.align-items-center
      div
        .row.jumbotext
          .col-12.col-xl Build 
          .col-12.col-xl.pop unstoppable  
          .col-12.col-xl web 
          .col-12.col-xl apps.
        br
        br
        br
        br
        .row.jumbotext
          a.call-to-action Build with Sipho.

