<!DOCTYPE html>
html(lang=en-GB)
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    title uSipho Front End
  body
    nav.top-nav
      .brand
        a.logo
          img(src='../images/usipho.png')
        a.trigger
          img(src='../images/ic_menu_24px.png')
      .nav-links
        a(href='#') Home
        a(href='#') About
        a(href='#') Portfolio
        a(href='#') Contact
        a(href='#').red-bg HireMe
    main
      header.page-banner
        .text-group
          h1 Siphosenkosi Ndhlovu
            hr
            small Builds 
              span.red-txt unstoppable 
              | web apps. 
          br
          br
          .button-group
            a(href="#").red-bg Build with Sipho.
            a(href="#") what i do.
            a(href="#") portfolio.
            
          .carets
            span  
              img(src="../images/caret.png")
            span
              img(src="../images/caret.png")
            span
              img(src="../images/caret.png")
        .overlay
      footer
