<!DOCTYPE html>
html(lang=en-GB)
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    title uSipho Front End
  body
    header.navbar.container
      nav.order-md-2
        ul
          li.active Home
          li  About
          li  Gallery
          li  Contact

      .navbar_header
        .logo
          img(src='../images/usipho.png')
        .trigger
          img(src='../images/ic_menu_24px.png')

      
    
    main.container-fluid.jumbotron.align-items-center
      h1.jumbotext.row
        .col-12.offset-sm-2 Build 
      
        .col-12.col-sm-9.offset-sm-2.pop unstoppable 
         
        .col-12.col-sm-8.offset-sm-2 web 
         
        .col-12.col-sm-7.offset-sm-2 apps.

        br
        br
        br
        a.call-to-action Build with Sipho.
