
@import '__colors.scss';
@import '__grid.scss';
* {
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: (-275px);
  transition: all 0.2s;
  width: 100vw;
  background-color: $primary-text;
  z-index: 1000000;
  &_header{
    .logo img{
      height: 24px;
    }
    .trigger img {
      height: 20px;
    }

    padding: {
      top: 15px;
      bottom: 15px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav{
    width: 100vw;
    margin: {
      left: -15px;
      right: -15px;
    }
    a {
      list-style: none;
      padding-left: 0;
      color: $secondary-text;
      font-size: 24pt;
      text-align: center;
      position: relative;
      display: block;
      padding: {
        top: 15px;
        bottom: 15px
      }
      &:after{
        content: ".";
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
    a.active:after, a:hover{
      color: $primary-highlight;
      transition: all 0.2s ease-in;
    }
  }
}
.open {
  top: 0;
}

@media screen and ($media-sma){
  .navbar{
    top: 0;
    display: flex;
    justify-content: space-between;
    background: none;
    padding: 30px;
    &_header {
      width: auto
    }
    .trigger {
      display: none;
    }
    nav {
      width: auto;
        a {
          display: inline-block;
          font-size: 16px; 
          padding: {
            left: 33px;
            right: 33px;
          }
        }
    }
  }
}