$media-sma: 'min-width: 768px';
$media-med: 'min-width: 992px';
$media-lg: 'min-width: 1200px';

@mixin col-generator($size){
  @for $i from 1 through 12 {
    .#{$size}-#{$i}{
      width: 100/$i + '%';
    };
  }
}

%padding{
  padding:{
    left: 15px;
    right: 15px;
  }
}
.col {
  float: left;
  @extend %padding
}
.container {
  @extend %padding
}
@include col-generator('xs');

@media screen and ($media-sma){

  @include col-generator('sm');
}

@media screen and ($media-med){
  @include col-generator('md')
}

@media screen and ($media-lg){
  @include col-generator('lg')
}



