@import '__typography.scss';
@import '__colors.scss';
@import '__nav.scss';
@import '__home.scss';
@import '__about.scss';
@import '__grid.scss';
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
main{
  position: absolute;
  top: 60px;
}

.open{
  position: relative;
  top: 0
}

@media screen and ($media-sma){
  main{
    top: 0;
    z-index: 299;
  }
}